{% extends 'base.html'%}

{% block body %}
<h1> Test your skills. It will take few minitues</h1>
<div class="container4">
    <div class="commonclass">
        <h2>Python</h2>
        <h4> Test your skill on python</h4>
        <a href="/python"><input type="button" value="Take test" class="btn1"></a>
    </div>
    <div class="commonclass">
        <h2>Java</h2>
        <h4> Test your skill on java</h4>
        <a href="/java"><input type="button" value="Take test" class="btn1"></a>
    </div>
    <div class="commonclass">
        <h2>C</h2>
        <h4> Test your skill on C</h4>
        <a href="/c"><input type="button" value="Take test" class="btn1"></a>
    </div>
</div>
{% endblock body%}